div#logo-homepage{
    width: 375px;
    height:110px;
    background-repeat:no-repeat;
}

label
    
}

.box{
   width: 15%;
   height: 100px;
   background-color: rgb(228, 228, 228);
   margin: 130px;
   border-radius: 10px;
   margin-top: 100px;
   padding: 20px;
}

input{
    outline: auto;
    border: 1px solid rgb(228, 228, 228);
}

h1{
    color:blue;
}